<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<b>Welcome to TibiaSmuggler.com, <%= @user.name %>!</b>
<p>
  You have successfully created an account in our system.<br />
  As a member of our website you are able to order world trades between 79 Tibia game worlds!
</p>
<p>
  Thanks for joining our community and have a great day!
</p>
<p>
  Yours,<br />
  Tibia Smuggler Team
</p>
</body>
</html>