<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<b>Hello, <%= @order.user.name %>!</b>
<p>
  We are happy to inform you that your world trade order was completed!<br/>
  <%= number_with_delimiter(@order.amount_to, delimiter: ' ') %> gold was sent to the inbox of your Tibia character - <b><%= @order.character_to %></b>.
</p>
<p>
  If you were satisfied with our service, please recommend us to your friends!
</p>
<p>
  Yours,<br />
  Tibia Smuggler Team
</p>
</body>
</html>