#step-indicator {
  margin-top: 30px;
  div {
    width: 135px;
    float: left;
    font-weight: bold;
    color: #aaaaaa;
    text-align: center;
  }
  .thin {
    width: 10px;
  }
}
.initially-hidden {
  display: none;
}
#next-button {
  display: block;
  width: 100px;
  margin-top: 30px;
  float: right;
}
#previous-button {
  display: none;
  width: 100px;
  margin-top: 30px;
  float: left;
}
.align-right {
  text-align: right;
}
#amount-picker img {
  display: block;
  margin-left: 109px;
}
#rate-reduction-teaser {
  display: none;
  font-size: 14px;
}
#world-picker select {
  margin-bottom: 10px;
}
#final-details input {
  margin-bottom: 10px;
}

.trade-agreement {
  position: relative;
  width: 531px;
  height: 234px;
  margin: 20px auto;
  background: image-url("agreement_background.png");
  div {
    position: absolute;
  }
  .label {
    left: 25px;
    width: 60px;
  }
  .from-line {
    top: 63px;
  }
  .to-line {
    top: 98px;
  }
  .status-line {
    top: 132px;
  }
  .name-line {
    top: 177px;
    width: 220px;
    text-align: center;
  }
  .name-label-line {
    top: 203px;
    width: 220px;
    text-align: center;
    font-size: 10px;
  }
  .align-right {
    text-align: right;
  }
  .bold {
    font-weight: bold;
  }
  .text-world-from {
    left: 100px;
  }
  .text-amount-from {
    left: 200px;
    width: 150px;
  }
  .text-world-to {
    left: 100px;
  }
  .text-amount-to {
    left: 200px;
    width: 150px;
  }
  .status-text {
    left: 100px;
    font-weight: bold;
  }
  .player-name {
    left: 22px;
  }
  .smuggler-name {
    left: 262px;
  }
}
