<div id="profile-menu" class="container-block small">
  <h2>Profile menu</h2>
  <button class="smuggler-button">My profile</button>
  <button class="smuggler-button">Edit profile</button>
  <button class="smuggler-button">My orders</button>
  <button class="smuggler-button">My smuggler coins</button>
  <button class="smuggler-button">Invite a friend!</button>
  <%= link_to 'Log out', logout_path, class: 'smuggler-button as-link', method: 'delete' %>
</div>